body {
    background-color: var(--cor-primaria);
}

.header {
    background-color: var(--cor-primaria);

    width: 100%;
    height: 10.5rem;
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--cor-fonte-light);
}

span {
    font-size: 3rem;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: var(--cor-fonte-light);
}

.link-cadastro {
    font-family: 'Ubuntu', sans-serif;
    color: var(--cor-fonte-light);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;

    margin-top: 4.5rem;
}

.label-float {
    padding: 1rem;
}

input {
    border: none;
    border-radius: 2.5rem;
    height: 3.438rem;
    width: 19rem;
    padding-left: 1.25rem;
    outline: none;
}

button {
    background-color: var(--cor-entrar-btn);
    color: var(--cor-fonte-light);

    border: solid 1px var(--cor-primaria-dark);
    border-radius: 1.25rem;

    width: 130px;
    height: 50px;
    margin-left: 7.5rem;
    margin-top: 3rem;

    cursor: pointer;
    transition: 0.7s;
}

button:hover {
    background-color: var(--cor-primaria);

}

footer {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

.logo {
    padding: 1.5rem;
    cursor: pointer;
}